<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:ctx="http://www.springframework.org/schema/context"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd	
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<!-- Configuration -->
	
	<osgix:cm-properties id="cfg" persistent-id="net.solarnetwork.node.ocpp.v16.cs.broker">
		<beans:prop key="heartbeatIntervalSeconds">300</beans:prop>
	</osgix:cm-properties>

	<ctx:property-placeholder properties-ref="cfg"/>

	<!-- Service references -->

	<bean id="chargePointManagers" class="net.solarnetwork.util.DynamicServiceTracker">
		<property name="bundleContext" ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.ocpp.service.cs.ChargePointManager"/>
	</bean>

	<!-- Published Services -->

	<service interface="net.solarnetwork.node.ocpp.service.ActionMessageProcessor">
		<service-properties>
			<entry key="action" value="Heartbeat"/>
		</service-properties>
		<bean class="net.solarnetwork.node.ocpp.v16.cs.broker.HeartbeatActionProcessor"/>
	</service>
	
	<service interface="net.solarnetwork.node.ocpp.service.ActionMessageProcessor">
		<service-properties>
			<entry key="action" value="BootNotification"/>
		</service-properties>
		<bean class="net.solarnetwork.node.ocpp.v16.cs.broker.BootNotificationProcessor">
			<argument ref="chargePointManagers"/>
			<property name="heartbeatIntervalSeconds" value="${heartbeatIntervalSeconds}"/>
		</bean>
	</service>
	
</blueprint>
